<!--component html goes here -->
<div class="">
    <mat-card class="login-card">
      <div class="card-body">
          <div class="text-center font_family_bold font_22px">
              Registration
          </div>
          <div class="text-center font_family_regular font_14px font_color_lightgrey">
              Become the part of our community
          </div>

          <div class="mt-3">
              <form class="example-form">

                <div class="row">
                  <div class="col-6">
                      <mat-form-field class="example-full-width">
                          <input matInput [(ngModel)]="registration.firstname" name="firstname" placeholder="First Name" />
                      </mat-form-field>
                  </div>
                  <div class="col-6">
                      <mat-form-field class="example-full-width">
                          <input matInput [(ngModel)]="registration.lastname" name="lastname" placeholder="Last Name" />
                      </mat-form-field>
                  </div>
                </div>

                  <mat-form-field class="example-full-width">
                      <input matInput [(ngModel)]="registration.email" name="email"  placeholder="EmailId" />
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                      <input matInput [(ngModel)]="registration.phoneno" name="phoneno" placeholder="Phone No" />
                  </mat-form-field>


                  <div class="button-row example-full-width mt-2">
                    <button type="button" class="login_button_width100 button_primary_color" (click)="createUser()" mat-raised-button color="primary">Registration</button>
                  </div>
                </form>
                <div class="mt-2">
                  <div class="row">
                    <div routerLink="/login" class="col-6 text-left font_14px font_color_lightgrey">
                      Already Have a Account?
                    </div>
                    <div routerLink="/forgot-password" class="col-6 text-right font_14px font_color_lightgrey">
                        Forget Password?
                    </div>
                  </div>
                </div>
          </div>
      </div>
    </mat-card>
  </div>
