<!--component html goes here -->
<!-- <span >login work</span> -->
<div class="">
  <mat-card class="login-card">
    <div class="card-body">
        <div class="text-center font_family_bold font_22px">
            Login
        </div>
        <div class="text-center font_family_regular font_14px font_color_lightgrey">
            Become the part of our community
        </div>

        <div class="mt-3">
            <form class="example-form">

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="EmailId" />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>

                <mat-checkbox formControlName="hideRequired">Remember Me</mat-checkbox>

                <div class="button-row example-full-width mt-2">
                  <button class="login_button_width100 button_primary_color" mat-raised-button color="primary">Login</button>
                </div>


              </form>

              <div class="mt-2">
                <div class="row">
                  <div class="col-6 text-left font_14px font_color_lightgrey">
                    SignUp
                  </div>
                  <div class="col-6 text-right font_14px font_color_lightgrey">
                      Forget Password?
                  </div>
                </div>
              </div>


              <!-- <div class="text-center font_14px font_color_lightgrey mt-2">
                Forget Password?
              </div> -->



        </div>

    </div>
  </mat-card>
</div>
